fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart
pydantic-settings
pytesseract
Pillow
easyocr
openai-whisper
sentence-transformers
numpy
scikit-learn
faiss-cpu
chromadb
openai
sqlalchemy
psycopg2-binary
requests
pytest
httpx
langchain
langchain-community
langchain-openai
langchain_huggingface
chromadb
langchain_chroma
PyYAML==6.0.2